<div class="d-flex justify-content-center align-items-center">
    <div class="modal fade" id="pageModal" tabindex="-1" aria-labelledby="pageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"> X </button>
                    <h3 class="modal-title modal-text mt-5 mb-3" id="pageModalLabel">Page Amount</h3>
                    <p class="modal-text">
                        The number of pages for your webpage. <br>
                        Each additional page has a 30€ cost.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"> X </button>
                    <h3 class="modal-title modal-text mt-5 mb-3" id="languageModalLabel">Languages</h3>
                    <p class="modal-text">
                        Add all the languages your webpage will have. <br>
                        Each additional language has a 30€ cost.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>