<div class="container overflow-hidden">
    <div class="row">
        <div class="navbar">
            <div class="justify-content-center text-white">
                <a class="nav-link" href="#">FrontEnder.Itacademy</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="justify-content-center d-flex align-items-center">
            <div class="banner col-11">
                <div class="z-0 white"></div>
                <div class="z-0 white2"></div>
                <div class="z-0 white3"></div>
                <div class="z-0 white4"></div>
                <div class="z-0 white5"></div>
                <div class="z-0 yellow"></div>
                <div class="z-0 green">
                    <div class="line"></div>
                    <div class="line2"></div>
                </div>
                <div class="z-0 orange"></div>
                <p class="title z-1">Accomplish the best quality</p>

            </div>
        </div>
    </div>
    <form class="form">
        <div class="row justify-content-center mt-4 d-flex">
            @for (list of listArr; track list) {
            <div class="col-6 item p-2 shadow-lg mx-3 d-flex align-items-center">
                <div class="mx-5 my-3">
                    <h2 class="my-4">
                        {{list.title}} </h2>
                    <p>{{list.description}}</p>
                </div>
                <div class="ms-auto mx-5 d-flex">
                    <h1>
                        {{list.price}}
                    </h1>
                    <p class="mx-2 currency">{{list.currency}}</p>

                </div>
                <div class="ms-auto mx-2 d-flex">
                    @if(list.id !=2){
                    <input type="checkbox" class="checkbox-circle" id="{{list.id}}"
                        (change)="updateTotal(list.price, list.id)">
                    }
                    @else{
                    <input type="checkbox" class="checkbox-circle" id="{{list.id}}"
                        (change)="togglePanel($event, list.id, list.price)">
                        
                    <app-panel>
                        @if(list.showPanel==false){
                        'Some text for ' + {{list.title}}
                        }
                    </app-panel>
                    }


                    <label class="mx-3" for="{{list.id}}">Add {{list.title}}</label>
                </div>
            </div>
            }
            <div class="col-6 item p-2 shadow-lg d-flex align-items-center justify-content-center">
                <p class="price-txt my-1">Final Budget: {{budget}}€</p>
            </div>
        </div>
    </form>
</div>