<div class="container overflow-hidden">
    <div class="row">
        <div class="navbar">
            <a class="nav-link" href="#">FrontEnder.Itacademy</a>
        </div>
    </div>
    <div class="row">
        <div class="flex-center">
            <div class="banner col-11">
                <div class="z-0 white"></div>
                <div class="z-0 white2"></div>
                <div class="z-0 white3"></div>
                <div class="z-0 white4"></div>
                <div class="z-0 white5"></div>
                <div class="z-0 yellow"></div>
                <div class="z-0 green">
                    <div class="line"></div>
                    <div class="line2"></div>
                </div>
                <div class="z-0 orange"></div>
                <p class="title z-1">Accomplish the best quality</p>

            </div>
        </div>
    </div>
    <form class="form">
        <div class="row mt-4 form-div">
            @for (list of budgetList.budgetList(); track list) {
            <div class="col-6 item p-3 shadow-lg mx-3 z-1" [class.shadow-lg]="!list.showPanel"
                [class.shadow]="list.showPanel">
                <div class="mx-4 my-3">
                    <h2 class="my-4">
                        {{list.title}} </h2>
                    <p>{{list.description}}</p>
                </div>
                <div class="ms-auto mx-3 d-flex">
                    <h1>
                        {{list.price}}
                    </h1>
                    <p class="mx-1 currency">{{list.currency}}</p>

                </div>
                <div class="ms-auto mx-2 d-flex">
                    @if(list.id !=2){
                    <input type="checkbox" class="checkbox-circle" id="{{list.id}}" [checked]="list.checked"
                        (change)="budgetList.toggleService(list.id); updateUrl()">
                    <label class="mx-3" for="{{list.id}}">Add</label>
                    }
                    @else{
                    <input type="checkbox" class="checkbox-circle" id="{{list.id}}" [checked]="list.checked"
                        (change)="budgetList.togglePanel(list.id); updateUrl()">
                    <label class="mx-3" for="{{list.id}}">Add</label>
                    }
                </div>
            </div>
            <div>
                @if(list.showPanel){<app-panel />}
            </div>
            }
            <div class="col-6 item p-2 shadow-lg z-2">
                <p class="price-txt my-1 ms-auto mx-5">Final Budget: {{budgetList.totalPrice()}}€</p>
            </div>
        </div>
    </form>
    @if(budgetList.totalPrice() !== 0){
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit($event, budgetsListComp)">
        <div class="row justify-content-center">
            <div class="col-6 item p-3 shadow-lg mx-3 z-2 align-items-center d-block">
                <h2 class="mx-4 mt-4">Request Budget</h2>
                <div class="mt-2 mb-4 d-flex">
                    <input class="my-3 grey-form" type="text" placeholder="  Name" formControlName="name"
                        aria-label="name">
                    <input class="my-3 grey-form" type="number" placeholder="  Phone" formControlName="phone"
                        aria-label="phone">
                    <input class="my-3 grey-form" type="text" placeholder="  Email" formControlName="email"
                        aria-label="email">
                    <button class="my-3 home-button-sm d-block d-xxl-none" type="submit">↑</button>
                    <button class="my-3 home-button d-none d-xxl-block" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
    }
    <app-budgets-list #budgetsListComp></app-budgets-list>
</div>