.bl-item {
    background-color: white;
    border-radius: 50px;
    border-bottom: 5px solid rgb(108, 8, 148);
    align-items: center;
    display: flex;
    min-width: 500px;
    max-height: 180px;
    margin-bottom: 15px;
}

.bl-button{
    background-color: rgb(108, 8, 148);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}