<div class="row justify-content-center d-flex">
    @for(item of budgetList.requestedBudgets(); track item){
    <div class="col-6 bl-item p-3 shadow-lg mx-3 z-2 d-flex justify-content-between">
        <div class="mx-4 my-3 bl-name">
            <h3 class="fw-bold">{{item.name}}</h3>
            <p class="text-muted">{{item.email}}</p>
            <p class="text-muted">{{item.phone}}</p>
        </div>
        <div class="mx-3 bl-services">
            <h6 class="fw-bold">Services:</h6>
            <ul class="list-unstyled mb-0">
                @for(service of item.services; track service){
                <li class="d-flex align-items-start">• {{service}}
                    @if(service === 'WEB'){
                    <div class="text-muted d-none d-sm-inline ms-2">
                        ({{item.pages}} pages, {{item.languages}} languages)
                    </div>
                    <div class="text-muted d-block d-sm-none ms-2">
                        ({{item.pages}} pages, {{item.languages}} languages)
                    </div>
                    }
                </li>
                }
            </ul>
        </div>
        <div class="mx-3 text-end bl-price">
            <h6 class="text-muted">Total:</h6>
            <h3 class="fw-bold">{{item.totalPrice}} €</h3>
        </div>
    </div>
    }
</div>